extends ./layouts/layout.jade
include ./mixins/carousel
include ./mixins/ytThumb

block headResources
  +mixpanelVideoCreate("#videoCreateForm", GLOBALS.ROUTES.CREATE.PARAMS.Y_URL)

  script(type="text/javascript").
    $(document).ready(function() {
      $("#videoCreateForm").submit(function() {
        var data = $(this).serializeFormJSON();
        var url = data["#{GLOBALS.ROUTES.CREATE.PARAMS.Y_URL}"];
        window.history.replaceState({}, null,
          "?#{GLOBALS.ROUTES.INDEX.PARAMS.Y_URL}=" + url
        );
      });
    });

block body
  div.container-fluid
    div.row
      div.col-md12.text-center
        h1 You have the most important video to share with everyone

        form#videoCreateForm(method=GLOBALS.ROUTES.CREATE.METHOD,
             action=GLOBALS.ROUTES.CREATE.URL)
          div.form-group.col-xs-12.col-sm-8.col-sm-offset-2.text-center
            label(for="yurl") Paste a video here
            input#yurl.form-control(type="url",
                  name=GLOBALS.ROUTES.CREATE.PARAMS.Y_URL,
                  value=initValue,
                  placeholder="https://www.youtube.com/watch?v=wKbU8B-QVZk")

          div.col-xs-12.col-sm-4.col-sm-offset-4.text-center
            label(for="submitButtons") And this video makes you feel...
            -// TODO these button values should be sent with the form
            div#submitButtons.form-group.feelyText
              div.form-group
                button.form-control.btn.btn-warning(type="submit", name="mood", value="happy")
                  | The happiest
                  span.glyphicon.glyphicon-share-alt
              div.form-group
                button.form-control.btn.btn-primary(type="submit", name="mood", value="sad")
                  | The saddest
                  span.glyphicon.glyphicon-share-alt
              div.form-group
                button.form-control.btn.btn-danger(type="submit", name="mood", value="angry")
                  | The angriest
                  span.glyphicon.glyphicon-share-alt

  +carousel
      - for (var i = 0; i < trending.length; i++)
          +ytThumb(trending[i])