include ./mixins/carousel
include ./mixins/ytThumb

doctype html
html
head
    <!-- TODO -->
body
  h1 #{pageTitle}
  iframe(type="text/html",
         src="https://www.youtube.com/embed/#{yid}?origin=#{siteOrigin}"
         frameborder="0")
  p #{pageDesc}

  div
    h2 #{relTitle}
    +carousel
      - for (var i = 0; i < related.length; i++)
        +ytThumb(related[i])

  h3
    a(href="/") Make your own